.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.touch-slider {
  height: 350px;
  display: block;
}

.touch-slider img {
  max-height: 350px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
