.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.touch-slider {
  height: 350px;
  display: block;
}

.touch-slider img {
  max-height: 350px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

#portfolio-list li img {
  overflow: hidden;
  height: 100%;
}

#parallax-one {
  border-top: 0;
  border-bottom: 0;
  background: #f9f9f9;
}

footer {
    padding-top: 0px;
}

.copyright-section {
    padding: 0px 0;
}
