
/* Fix sections */

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Fix footer */
body {
  background: #222;
}
footer {
  padding-top: 0px;
}

.copyright-section {
  padding: 0px 0;
}

/* Home page Caroussel */

#main-slide .slider-content h2 {
	text-shadow: 0px 0px 20px #36353A;
}

#main-slide .slider-content h3 {
	text-shadow: 0px 0px 20px #36353A;
}

/* Page pays photos slider */

.touch-slider {
  height: 350px;
  display: block;
}

.touch-slider img {
  max-height: 350px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}


/* Others */

#portfolio-list li img {
  overflow: hidden;
  height: 100%;
}

#parallax-one {
  border-top: 0;
  border-bottom: 0;
  background: #f9f9f9;
}
