<section id="pays">
  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="page-content">
        <div class="row">



          <div class="col-md-6">
            <h4 class="classic-title"><span>Nos plus belles sources d'eaux chaudes <i class="fa fa-fire control-icon"></i></span></h4>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> <a href="islande" class="itl-tooltip" data-placement="top">Islande</a></strong> Landamanogar, Blue Lagoon ...</p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> <a href="japon" class="itl-tooltip" data-placement="top">Japon</a></strong> Le pays des Onsen : île de Kyushu, île de Yakushima ...</p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> Nouvelle Zélande</strong>, la région de Roturoa</p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> Chili</strong> Puritama dans le désert d'Atacama, Jurasi (à 3500 m d'Altitude) près de Putre</p>



          </div>
          <div class="col-md-6">
            <div class="touch-slider project-slider" data-slider-navigation="true" data-slider-pagination="true">
              <div class="item">
                <a class="lightbox" title="" href="images/portfolio-bonus/0001.jpg" data-lightbox-gallery="country">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-bonus/0001.jpg" />
                </a>
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    Landamanogar : Islande
                  </div>
                </div>
              </div>
              <div class="item">
                <a class="lightbox" title="" href="images/portfolio-bonus/0005.jpg" data-lightbox-gallery="country">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-bonus/0005.jpg" />
                </a>
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    Blue Lagoon : Islande
                  </div>
                </div>
              </div>
              <div class="item">
                <a class="lightbox" title="" href="images/portfolio-bonus/0003.jpg" data-lightbox-gallery="country">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-bonus/0003.jpg" />
                </a>
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    Japon : Kurukawa (île Kiushu)
                  </div>
                </div>
              </div>
              <div class="item">
                <a class="lightbox" title="" href="images/portfolio-bonus/0004.jpg" data-lightbox-gallery="country">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-bonus/0004.jpg" />
                </a>
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    Japon : Kirishima (île Kiushu)
                  </div>
                </div>
              </div>
              <div class="item">
                <a class="lightbox" title="" href="images/portfolio-bonus/0007.jpg" data-lightbox-gallery="country">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-bonus/0007.jpg" />
                </a>
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    Japon : Soyotei (Yakushima)
                  </div>
                </div>
              </div>
              <div class="item">
                <a class="lightbox" title="" href="images/portfolio-bonus/0002.jpg" data-lightbox-gallery="country">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-bonus/0002.jpg" />
                </a>
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    Ro2roa : Nouvelle Zelande
                  </div>
                </div>
              </div>
              <div class="item">
                <a class="lightbox" title="" href="images/portfolio-bonus/0006.jpg" data-lightbox-gallery="country">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-bonus/0006.jpg" />
                </a>
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    Puritama : Chili (Atacama)
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
