<!-- Start Home Page Slider -->
<section id="home">
  <!-- Carousel -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
      <li data-target="#main-slide" data-slide-to="1"></li>
      <li data-target="#main-slide" data-slide-to="2"></li>
      <li data-target="#main-slide" data-slide-to="3"></li>
      <li data-target="#main-slide" data-slide-to="4"></li>
      <li data-target="#main-slide" data-slide-to="5"></li>
      <li data-target="#main-slide" data-slide-to="6"></li>
      <li data-target="#main-slide" data-slide-to="7"></li>
      <li data-target="#main-slide" data-slide-to="8"></li>
      <li data-target="#main-slide" data-slide-to="9"></li>
      <li data-target="#main-slide" data-slide-to="10"></li>
      <li data-target="#main-slide" data-slide-to="11"></li>

    </ol>
    <!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive" src="images/slider/bg1.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <h2 class="animated2 white"><span>Sam &amp; Tof |<strong> Diving</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          </div>
        </div>
      </div>
      <!--/ Carousel item end -->
      <div class="item">
        <img class="img-responsive" src="images/slider/bg2.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>
      <!--/ Carousel item end -->
  <div class="item">
    <img class="img-responsive" src="images/slider/bg10.jpg" alt="slider">
    <div class="slider-content">
      <div class="col-md-12 text-center">
        <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
        <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
      --></div>
    </div>
  </div>
          <!--/ Carousel item end -->
      <div class="item">
        <img class="img-responsive" src="images/slider/bg11.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>
      <!--/ Carousel item end -->
      <div class="item">
        <img class="img-responsive" src="images/slider/bg3.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="images/slider/bg6.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="images/slider/bg9.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="images/slider/bg4.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg5.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg7.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="images/slider/bg8.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="images/slider/bg12.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <!--<h2 class="animated2 white"><span>Sam &amp; Tof<strong> Plongée</strong></span></h2>
            <h3 class="animated3 white"><span>Des informations utiles pour préparer un voyage plongée !</span></h3>
          --></div>
        </div>
      </div>

      <!--/ Carousel item end -->
    </div>
    <!-- Carousel inner end-->

    <!-- Controls -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
      <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
      <span><i class="fa fa-angle-right"></i></span>
    </a>
  </div>
  <!-- /carousel -->
</section>
<!-- End Home Page Slider -->
