<section id="nextbubbles">
  <div id="content">
    <div class="container">
      <div class="page-content">
        <!-- Start Recent Posts Carousel -->

        <div class="col-md-12">

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>FAQ</span></h4>

          <!-- Accordion -->
          <div class="panel-group" id="accordion">

            <!-- Start Accordion 1 -->
            <div class="panel panel-default">
              <!-- Toggle Heading -->
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed">

                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-flag"></i> Comment choisir un club de plongée ?
                  </a>
                </h4>
              </div>
              <!-- Toggle Content -->
              <div id="collapse-1" class="panel-collapse collapse in">
                <div class="panel-body"> Généralement c'est du <strong class="accent-color">feeling</strong> ... Voici quelques "tips & tricks" qui marchent pour nous :
                  <ul>
                  <li><strong class="accent-color">Avant le départ</strong> : Nous aimons contacter le club afin de ne pas avoir de mauvaises surprises.  Sur des petites structures il convient de vérifier les disponibilités du club et les plannings de certaines plongées.
                    Nous sommes aussi attentifs aux informations fournies par le club de plongées, leur réponse par email ou sur leur site comme la description des sites de plongées, le type de bateaux, le planning des sorties et les avis des plongeurs.</li>
                  <li><strong class="accent-color">Sur place</strong> : Si nous le pouvons, nous essayons de passer la veille au club et apprécier l'accueil, vérifier la récence de l'équipement, l'organisation et le staff.</li>
                  <li><strong class="accent-color">Enfin et surtout</strong>, le nombre de personnes par palanquée, le sérieux et la sécurité, le niveau des guides et leur connaissance des lieux.</li>
                  <li><strong class="accent-color">Le prix </strong>ne doit pas être un critère de choix.</li></ul>
                  </div>
                </div>
              </div>
              <!-- End Accordion 1 -->


              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                        <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-certificate"></i> Quelle type de certification ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-2" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul>Sans porter de jugement sur les types de formations dispensées, nous avons des certification Padi et ANMP. En voici les raisons :
                        <li>
                        <strong class="accent-color">Padi</strong> pour plonger partout dans le monde. C'est de plus en plus rare car la plongée loisir se développe, mais il faut savoir que les certifications européennes ne sont pas reconnues dans les lointaines contrées. (Comme par exemple le Japon)
                      </li>
                      <li><strong class="accent-color">ANMP</strong> ou équivalente européenne, pour la France DOM, TOM, pays d'outremer ou Afrique, pouvoir plonger en toute autonomie des palanquées. (Pouvoir tout simplement plonger dans les passes en Polynésie Française par exemple)
                      </li>

                      <li>Et pourquoi pas le Niveau 3 ou Dive Master ? Tout simplement avec un Advanced Padi ou un niveau 2 Français, nous pouvons effectuer toutes les plongées que nous souhaitons sans limitations particulières.</li>
                        </ul>
                  </div>
                </div>
              </div>
              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                        <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-adjust"></i> Air ou Nitrox ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-3" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul>Pour des plongées jusqu'à 30 mètres et répetitives dans la journée, le Nitrox sans hésiter pour un maximum de confort à tout point de vue. La vérification du pourcentage d'oxygène après plusieurs check devient une formalité.</ul>
                  </div>
                </div>
              </div>
              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4" class="collapsed">
                      <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-cog"></i> Faut-il prendre son matériel ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-4" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul>Nous le prenons à chaque fois, car nous avons nos habitudes et nous sommes certains de son état.
                        Toute fois, notre matériel pèse 17 kg à lui tout seul, ce qui n'est pas aisé pour les transports et les avions (surcharge baggages ...). </ul>
                      <ul>Beaucoup de destinations "offrent" un équipement de bonne qualité, mais ce n'est pas toujours le cas, au minimum il faut
                        voyager avec <strong class="accent-color">son ordinateur et son masque.</strong></ul>
                  </div>
                </div>
              </div>
              <!-- End Accordion 2 -->
              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5" class="collapsed">
                      <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-briefcase"></i> Quels baggages ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-5" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul>Nous préférons des sacs souples et grands formats qui peuvent se porter en sac à dos. Actuellement les North Face XXL font l'affaire. Ils ont une grande capacité de rangement, ne pèsent presque rien à vide et se rangent facilement dans les espaces restreints.
                        Nous rangeons le sec dans des petits sac étanches.
                        </ul><ul>Les sacs "adaptés" pour la plongée ne sont pas justement adaptés : pas de compartiment étanche, lourd à vide, mauvais rapport qualité-prix, souvent hors format pour les aéroports et les petites roulettes quand le sac fait 20 kilos sont souvent inutiles.

                        </ul>
                        <ul>D'autres plongeurs préféront des petites valides rigides (au moins 2 par personnes).</ul>
                  </div>
                </div>
              </div>
              <!-- End Accordion 2 -->
              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-6" class="collapsed">
                      <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-eye"></i> Lentilles ou masque à sa vue ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>Nous préférons les lentilles, et contrairement à ce que l'on peut penser, les lentilles collent à partir de 10 mètres, il y a peu de risque de les perdre.</ul>
                    <ul>Les masques à la vue consistent à coller des verres sur le masque, ce qui fait perdre selon nous, une vision pleine</ul>
                    <ul>Les masques sur mesure restent encore très chers ...</ul>
                        </div>
                </div>
              </div>
              <!-- End Accordion 2 -->
              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-7" class="collapsed">
                        <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-camera-retro"></i> Quel est notre matériel photo ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-7" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul>Nous utilisons un petit appareil Sealife et son caisson pour la macro. L'intérêt reste qu'il est compacte et pratique pour toutes les types de plongées. Ses filtres intégrés sont disponibles en raccourci sur le caisson. Le mode vidéo n'est pas terrible cependant.</ul>
                      <ul>Une GoPro pour le rendu et les vidéos dont on extrait des photos. La GoPro est montée sur un mini trépier permettant de stabiliser la prise de vue.</ul>
                      <ul>Et biensûr, beaucoup de lumières !</ul>
                  </div>
                </div>
              </div>
              <!-- Start Accordion 3 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                      <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-binoculars"></i> Quel endroit a-t-on préféré ?
                    </a>
                  </h4>
                </div>
                <div id="collapse-three" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li>On nous pose souvent la question, et c'est très difficile d'y répondre ...  <i class="fa fa-smile-o"></i></li>
                        <li>Toutes les plongées ont leur charme, et nous apprécions la richesse des oceans Indien et Pacifique mais également les ambiances si particulières de l'Atlantique. De plus plusieurs paramètres entrent en jeu, les saisons, la météo et surtout la chance jouent beaucoup !
                        </li>
                       <li>A l'unanimité voici notre top 3, (à noter que ce ne sont pas les plongées les plus faciles du au fort courant) :
                         </li>
                        <li>* Fakarava Sud avec ses murs de requins époustouflants</li>
                        <li>* La mythique Galapagos pour son extrème richesse à chaque plongée (Darwin, Wolf, Isabella)</li>
                        <li>* Komodo en Indonésie pour son autoroute à Mantas (ShotGun)</li>


                        </ul>

                  </div>
                </div>
              </div>
              <!-- End Accordion 3 -->
            </div>
          </div>




      </div>



    </div>
  </div>
</section>
