
<section id="nextbubbles">
  <div id="content">
    <div class="container">
      <div class="page-content">
        <!-- Start Recent Posts Carousel -->

        <div class="col-md-12">

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>FAQ</span></h4>

          <!-- Accordion -->
          <div class="panel-group" id="accordion">

            <!-- Start Accordion 1 -->
            <div class="panel panel-default">
              <!-- Toggle Heading -->
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed">

                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-flag"></i> Comment choisir un club de plongée ?
                  </a>
                </h4>
              </div>
              <!-- Toggle Content -->
              <div id="collapse-1" class="panel-collapse collapse in">
                <div class="panel-body"> Généralement c'est du feeling et très subjectif ...
                  <ul>Avant le départ : Nous accordons notre attention aux réponses du club lors des demandes de contacts, les informations fournies sur le site : description des sites de plongées, le type de bateaux, planning de sortie et les avis mais cela ne fait pas tout.</ul>
                  <ul>Sur place : Si nous le pouvons, nous aimons les rencontrer avant la plongée et apprécier l'accueil, si le bateau adapté à la plongée, la récence de l'équipement, l'organisation des plongées, le staff.</ul>
                  <ul>Enfin et surtout, le nombre de personnes par palanquée, le sérieux et la sécurité, le niveau des guides et leur connaissance des lieux.</ul>
                  <ul>Le prix ne doit pas être un critère de choix.</ul>
                  </div>
                </div>
              </div>
              <!-- End Accordion 1 -->

              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                      <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-cog"></i> Faut-il prendre son matériel ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-2" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul>Nous le prenons à chaque fois, car nous avons nos habitudes et nous sommes certains de son état sans oublier d'amener ses petits outils et les joints de rechange au cas où il faudrait bricoler en cas d'urgence.
                        Toute fois, attention, notre matériel pèse 17 kg à lui tout seul, ce qui n'est pas aisé pour les transports et les avions. </ul>
                      <ul>Beaucoup de destinations "offrent" un équipement de bonnes qualités, mais ce n'est pas toujours le cas. Au minimum voyager avec son ordinateur et son masque.</ul>
                  </div>
                </div>
              </div>
              <!-- End Accordion 2 -->
              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                      <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-eye"></i> Lentilles ou masque à sa vue ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>Nous préférons les lentilles, et contrairement à ce que l'on peut penser, les lentilles collent à partir de 10 mètres, il y a peu de risque de les perdre.</ul>
                    <ul>Les masques à la vue consistent à coller des verres sur le masque, ce qui fait perdre selon nous, une vision pleine</ul>
                    <ul>Les masques sur mesure restent très chers ...</ul>
                        </div>
                </div>
              </div>
              <!-- End Accordion 2 -->
              <!-- Start Accordion 2 -->
              <div class="panel panel-default">
                <!-- Toggle Heading -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                        <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-camera-retro"></i> Quel est matériel photo ?
                    </a>
                  </h4>
                </div>
                <!-- Toggle Content -->
                <div id="collapse-3" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul>Nous utilisons un petit appareil Sealife et son caisson pour la macro. L'intérêt reste qu'il est compacte et pratique pour toutes les types de plongées ainsi que ses filtres intégrés et disponibles en raccourci sur le caisson.</ul>
                      <ul>Une GoPro pour le rendu et les vidéos dont on extrait des photos. La GoPro est montée sur un mini trépier permettant de stabiliser la prise de vue et de ne pas la perdre.</ul>
                      <ul>Et beaucoup de lumières, des phares ...</ul>
                  </div>
                </div>
              </div>
              <!-- Start Accordion 3 -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                      <i class="fa fa-angle-up control-icon"></i>
                      <i class="fa fa-binoculars"></i> Quel endroit a-t-on préféré ?
                    </a>
                  </h4>
                </div>
                <div id="collapse-three" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li>On nous pose souvent la question, et c'est très difficile d'y répondre ... La meilleur réponse serait sans doute aucune. <i class="fa fa-smile-o"></i></li>
                        <li>Toutes les plongées ne se ressemblent pas, il faut bien se renseigner sur le type de plongées du lieu sans oublier d'être humble et patient.
                          La plongée et le bonheur qui en résulte dépendent de tellement de paramètres : les conditions de la mer, le guide et avoir de la chance surtout.
                          Nous aimons tout types de plongées du petit au gros, les épaves, des grottes à la "muk dive" en avouant tout de même que ces dernières ne sont pas forcément nos préférées. </li>
                        <li>Plonger sur le même site plusieurs fois permet aussi d'apprécier des choses différentes et maximise les chances de découvertes exceptionnelles.</li>
                        </ul>

                  </div>
                </div>
              </div>
              <!-- End Accordion 3 -->
            </div>
          </div>




      </div>



    </div>
  </div>
</section>
