<section id="nextbubbles">
  <div id="content">
    <div class="container">
      <div class="page-content">

        <div class="col-md-12">

          <h4 class="classic-title"><span>FAQ</span></h4>

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed">
                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-flag"></i> Comment choisir un club de plongée ?
                  </a>
                </h4>
              </div>
              <div id="collapse-1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>Généralement c'est du <strong>feeling</strong> ... </p>
                  <p>Voici quelques "tips & tricks" qui marchent pour nous :
                    <br>* <strong>Avant le départ</strong> : Nous aimons contacter le club afin de ne pas avoir de mauvaises surprises; sur des petites structures il convient de vérifier les disponibilités du club et les plannings de certaines plongées. Nous sommes aussi attentifs aux informations fournies par le club de plongées, leurs réponses par email ou sur leur site comme la description des sites de plongées, le type de bateau, le planning des sorties et les avis des plongeurs.
                    <br>* <strong>Sur place</strong> : Si nous le pouvons, nous essayons de passer la veille au club pour apprécier l'accueil, vérifier la qualité des équipements, comprendre l'organisation et rencontrer le staff. Les brevets ou certificats doivent être affichés ou visibles. Les vérifications des niveaux des plongeurs sont impératifs.
                    <br>* <strong>Enfin et surtout</strong>, le nombre de personnes par palanquée (réglementée suivant les pays), le sérieux et la sécurité, le niveau des guides (le nombre de moniteur dans le club par exemple pour les plongées encadrées) et leur connaissance des lieux.
                    <br>* <strong>Le prix </strong>ne doit pas être un critère de choix.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-certificate"></i> Quel type de certification ?
                  </a>
                </h4>
              </div>
              <div id="collapse-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Sans porter de jugement sur les types de formations dispensées, nous avons des certification Padi et ANMP.</p>
                    <p>En voici les raisons :
                    <br><strong>Padi</strong> : Pour plonger partout dans le monde. C'est de plus en plus rare car la plongée loisir se développe, mais il faut savoir que les certifications européennes ne sont pas toujours reconnues dans les contrées lointaines (comme par exemple le Japon).
                    <br><strong>ANMP</strong> ou équivalente européenne : Pour la France, les DOM TOM, les pays d'outremer ou l’Afrique où elles sont mieux reconnues. Pour pouvoir plonger en toute autonomie des palanquées. Pour pouvoir tout simplement plonger dans les passes en Polynésie Française par exemple.
                    </p>
                    <p>Et pourquoi pas le Niveau 3 ou Dive Master ? Tout simplement parce qu’avec un Advanced Padi ou un niveau 2 Français, nous pouvons effectuer toutes les plongées que nous souhaitons sans limitations particulières.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-adjust"></i> Air ou Nitrox ?
                  </a>
                </h4>
              </div>
              <div id="collapse-3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Pour des plongées jusqu'à 30 mètres et répétitives dans la journée, le Nitrox sans hésiter pour un maximum de confort à tout point de vue. La certification est simple et la vérification du pourcentage d'oxygène ou le réglage de l'ordinateur devient vite une formalité.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4" class="collapsed">
                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-cog"></i> Faut-il prendre son matériel ?
                  </a>
                </h4>
              </div>
              <div id="collapse-4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Nous le prenons à chaque fois, car nous avons nos habitudes et que nous sommes certains de son état. Toutefois, notre matériel pèse 17 kg à lui tout seul, ce qui n'est pas aisé pour les transports et les avions (surcharge bagages ...).
                  <br>Beaucoup de destinations "offrent" un équipement de bonne qualité, mais ce n'est pas toujours le cas, au minimum il faut voyager avec <strong>son ordinateur et son masque.</strong></p>

                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5" class="collapsed">
                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-briefcase"></i> Quels bagages ?
                  </a>
                </h4>
              </div>
              <div id="collapse-5" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Nous préférons des sacs souples et grands formats qui peuvent se porter en sac à dos. Actuellement les <strong>North Face XXL</strong> font l'affaire. Ils ont une grande capacité de rangement, ne pèsent presque rien à vide et se rangent facilement dans les espaces restreints. Nous rangeons le sec dans des petits sac étanches.
                    </p><p>Les sacs "adaptés" pour la plongée ne sont pas justement adaptés : pas de compartiment étanche, lourd à vide, mauvais rapport qualité-prix, souvent hors format pour les aéroports et les petites roulettes quand le sac fait 20 kilos sont souvent inutiles.
                    <br>D'autres plongeurs préféreront des petites valides rigides (au moins 2 par personnes).
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-6" class="collapsed">
                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-eye"></i> Lentilles ou masque à sa vue ?
                  </a>
                </h4>
              </div>
              <div id="collapse-6" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Nous préférons les lentilles et, contrairement à ce que l'on peut penser, les lentilles collent à partir de 10 mètres, il y a peu de risque de les perdre.
                    <br>Les masques à la vue consistent à coller des verres sur le masque, ce qui fait perdre selon nous, une vision pleine.

                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-7" class="collapsed">
                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-camera-retro"></i> Quel est notre matériel photo ?
                  </a>
                </h4>
              </div>
              <div id="collapse-7" class="panel-collapse collapse">
                <div class="panel-body">

                    <p>Nous utilisons un petit appareil <strong>Sealife</strong> et son caisson pour la macro. Il est compact et pratique pour toutes les types de plongées. Ses filtres intégrés sont disponibles en raccourci sur le caisson. Le mode vidéo n'est cependant pas terrible.
                    <br>Une <strong>GoPro</strong> pour le rendu et les vidéos dont on extrait des photos. La GoPro est montée sur un mini trépied permettant de stabiliser la prise de vue.
                    </p>
                    <p>Et bien sûr, beaucoup de lumières !</p>

                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                    <i class="fa fa-angle-up control-icon"></i>
                    <i class="fa fa-binoculars"></i> Quel endroit a-t-on préféré ?
                  </a>
                </h4>
              </div>
              <div id="collapse-three" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>On nous pose souvent la question, et c'est très difficile d'y répondre ...  <i class="fa fa-smile-o"></i>
                    <br>Toutes les plongées ont leur charme et nous apprécions la richesse des océans Indien et Pacifique mais également les ambiances si particulières de l'Atlantique. De plus, plusieurs paramètres entrent en jeu : les saisons, la météo et surtout la chance jouent beaucoup !</p>
                    <p>A l'unanimité voici notre top 5, (à noter que ce ne sont pas les plongées les plus faciles en raison du fort courant) :

                    <br>* <strong class="accent-color"><a href="/polynesie" class="itl-tooltip" data-placement="top">Fakarava Sud</a></strong> avec ses murs de requins époustouflants.
                    <br>* La mythique <strong class="accent-color"><a href="/galapagos" class="itl-tooltip" data-placement="top">Galapagos</a></strong> pour son extrême richesse à chaque plongée (Darwin, Wolf, Isabella).
                    <br>* Les murs de requins marteaux à <strong class="accent-color"><a href="/cocos" class="itl-tooltip" data-placement="top">Cocos</a></strong> et autres beautés sous marines (Requin tigre, Requin soyeux, Mantas ... ).
                    <br>* <strong class="accent-color"><a href="/indonesie" class="itl-tooltip" data-placement="top">Komodo</a></strong> en Indonésie pour son autoroute à Mantas (Shotgun).
                    <br>* <strong class="accent-color"><a href="/palaos" class="itl-tooltip" data-placement="top">Palaos</a></strong> pour l'incroyable diversité de la faune à chaque plongée et le moment d'exception pendant la reproduction des vivaneaux pacifique.
                    </p>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
