<!-- Start Header Section -->
<header class="clearfix">
  <!-- Start  Logo & Naviagtion  -->
  <div class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand" href="index.html"></a>
      </div>
      <div class="navbar-collapse collapse">

        <!-- Start Navigation List -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index">Home</a></li>
          <li>
            <a href="/#pays">Atlantique</a>
            <ul class="dropdown">
              <li><a href="canaries">Canaries</a></li>
              <li><a href="capvert">Cap Vert</a></li>
            </ul>
          </li>
          <li>
            <a href="/#pays">Caraïbes</a>
            <ul class="dropdown">
              <li><a href="bulles">Belize</a></li>
              <li><a href="bulles">Martinique</a></li>
              <li><a href="bulles">Mexique</a></li>
              <li><a href="bulles">Les Saintes</a></li>
              <li><a href="bulles">Statia</a></li>
            </ul>
          </li>
          <li>
            <a  href="/#pays">Indien</a>
            <ul class="dropdown">
              <li><a href="bulles">Maldives</a></li>
              <li><a href="bulles">Maurice</a></li>
              <li><a href="bulles">Tanzanie</a></li>
            </ul>
          </li>
          <li>
            <a  href="/#pays">Pacifique</a>
            <ul class="dropdown">
              <li><a href="bulles">Hawaï</a></li>
              <li><a href="bulles">Japon</a></li>
              <li><a href="societe">Polynésie : La Société</a></li>
              <li><a href="tuamotus">Polynésie : Les Tuamotus</a></li>
            </ul>
          </li>
            <li><a href="nextbubbles">Next Bubbles</a></li>
          <li><a href="/#team">About</a></li>
        </ul>
        <!-- End Navigation List -->
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="wpb-mobile-menu">
      <li><a href="/index.html">Home</a></li>
      <li>
        <a href="/#pays">Atlantique</a>
        <ul class="dropdown">
          <li><a href="canaries.html">Canaries</a></li>
          <li><a href="capvert.html">Cap Vert</a></li>
        </ul>
      </li>
      <li>
        <a href="/#pays">Caraïbes</a>
        <ul class="dropdown">
          <li><a href="bulles">Belize</a></li>
          <li><a href="bulles">Martinique</a></li>
          <li><a href="bulles">Mexique</a></li>
          <li><a href="bulles">Les Saintes</a></li>
          <li><a href="bulles">Statia</a></li>
        </ul>
      </li>
      <li>
        <a  href="/#pays">Indien</a>
        <ul class="dropdown">
          <li><a href="bulles">Maldives</a></li>
          <li><a href="bulles">Maurice</a></li>
          <li><a href="bulles">Tanzanie</a></li>
        </ul>
      </li>
      <li>
        <a  href="/#pays">Pacifique</a>
        <ul class="dropdown">
          <li><a href="bulles">Hawaï</a></li>
          <li><a href="bulles">Japon</a></li>
          <li><a href="bulles">Polynésie : La Société</a></li>
          <li><a href="tuamotus">Polynésie : Les Tuamotus</a></li>
        </ul>
      </li>
      <li><a href="nextbubbles">Next Bubbles</a></li>
      <li><a href="/#team">About</a></li>
    </ul>
    <!-- Mobile Menu End -->

  </div>
  <!-- End Header Logo & Naviagtion -->

</header>
<!-- End Header Section -->
