<!-- Start Header Section -->
<header class="clearfix">
  <!-- Start  Logo & Naviagtion  -->
  <div class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand" href="index.html"></a>
      </div>
      <div class="navbar-collapse collapse">

        <!-- Start Navigation List -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index">Home</a></li>
          <li><a href="carte">La Carte</a></li>
          <li>
            <a href="#">Atlantique</a>
            <ul class="dropdown">
              <li><a href="canaries">Canaries</a></li>
              <li><a href="capvert">Cap Vert</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Caraïbes</a>
            <ul class="dropdown">
              <li><a href="belize">Belize</a></li>
              <li><a href="martinique">Martinique</a></li>
              <li><a href="mexique">Mexique</a></li>
              <li><a href="saintes">Les Saintes</a></li>
              <li><a href="statia">Statia</a></li>
            </ul>
          </li>
          <li>
            <a  href="#">Indien</a>
            <ul class="dropdown">
              <li><a href="afsud">Afrique du Sud</a></li>
              <li><a href="indonesie">Indonésie</a></li>
              <li><a href="maldives">Maldives</a></li>
              <li><a href="mozambique">Mozambique</a></li>
              <li><a href="tanzanie">Tanzanie</a></li>
            </ul>
          </li>
          <li>
            <a  href="#">Pacifique</a>
            <ul class="dropdown">
              <li><a href="galapagos">Galapagos</a></li>
              <li><a href="hawaii">Hawaii</a></li>
              <li><a href="japon">Japon</a></li>
              <li><a href="societe">Polynésie : La Société</a></li>
              <li><a href="tuamotus">Polynésie : Les Tuamotus</a></li>
            </ul>
          </li>
            <li><a href="nextbubbles">Next Bubbles</a></li>
          <li><a href="inspiration">Inspiration</a></li>
        </ul>
        <!-- End Navigation List -->
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="wpb-mobile-menu">
      <li><a href="index">Home</a></li>
      <li><a href="carte">La Carte</a></li>
      <li>
        <a href="#">Atlantique</a>
        <ul class="dropdown">
          <li><a href="canaries.html">Canaries</a></li>
          <li><a href="capvert.html">Cap Vert</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Caraïbes</a>
        <ul class="dropdown">
          <li><a href="belize">Belize</a></li>
          <li><a href="martinique">Martinique</a></li>
          <li><a href="mexique">Mexique</a></li>
          <li><a href="saintes">Les Saintes</a></li>
          <li><a href="statia">Statia</a></li>
        </ul>
      </li>
      <li>
        <a  href="#">Indien</a>
        <ul class="dropdown">
          <li><a href="afsud">Afrique du Sud</a></li>
          <li><a href="indonesie">Indonésie</a></li>
          <li><a href="maldives">Maldives</a></li>
          <li><a href="mozambique">Mozambique</a></li>
          <li><a href="tanzanie">Tanzanie</a></li>
        </ul>
      </li>
      <li>
        <a  href="#">Pacifique</a>
        <ul class="dropdown">
        
          <li><a href="galapagos">Galapagos</a></li>
          <li><a href="hawaii">Hawaï</a></li>
          <li><a href="japon">Japon</a></li>
          <li><a href="societe">Polynésie : La Société</a></li>
          <li><a href="tuamotus">Polynésie : Les Tuamotus</a></li>
        </ul>
      </li>
      <li><a href="nextbubbles">Next Bubbles</a></li>
      <li><a href="inspiration">Inspiration</a></li>
    </ul>
    <!-- Mobile Menu End -->

  </div>
  <!-- End Header Logo & Naviagtion -->

</header>
<!-- End Header Section -->
