<section id="pays">
  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="page-content">
        <div class="row">

          <div class="col-md-6">
            <div class="item"><img alt="" src="images/inspiration.jpg"></div>
          </div>

          <div class="col-md-6">
            <h4 class="classic-title"><span>Nos inspirations</span></h4>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> Le tour du monde en 80 plongées d'exception</strong> de Patrick Mioulane et Raymond Sahuquet <i class="fa fa-book control-icon"></i></p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> <a href="https://www.thedivespotteam.com/" target="_blank" class="itl-tooltip" data-placement="top">Divespot team</a></strong> <i class="fa fa-bookmark control-icon"></i></p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> <a href="http://www.imdb.com/title/tt0970521/" target="_blank" class="itl-tooltip" data-placement="top">Incredible journey of turtle</a></strong> <i class="fa fa-video-camera control-icon"></i></p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> <a href="https://en.wikipedia.org/wiki/Blue_Planet_II" target="_blank" class="itl-tooltip" data-placement="top">Blue Planet 2</a></strong> <i class="fa fa-video-camera control-icon"></i></p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> <a href="https://www.youtube.com/watch?v=v11b84Okcm8" target="_blank" class="itl-tooltip" data-placement="top">Ocean Gravity</a></strong> de Julie Gautier et Guillaume Néry <i class="fa fa-video-camera control-icon"></i></p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> <a href="https://www.youtube.com/watch?v=ysa5OBhXz-Q" target="_blank" class="itl-tooltip" data-placement="top">How Wolves Change Rivers </a></strong><i class="fa fa-video-camera control-icon"></i></p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> Contes et légendes des temps anciens de Tahiti et ses îles</strong> de Emy-Louis Dufour <i class="fa fa-book control-icon"></i></p>
            <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> Hawaian legend of Volcanoes</strong> de W.D Westervelt <i class="fa fa-book control-icon"></i></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
