<section id="pays">
 <!-- Start Content -->
 <div id="content">
   <div class="container">
     <div class="page-content">

<div class="row">
  <div class="col-md-6">

    <!-- Start Touch Slider -->
      <div class="item"><img alt="" src="images/inspiration.jpg"></div>


    <!-- End Touch Slider -->

  </div>
         <div class="col-md-6">

           <!-- Classic Heading -->
           <h4 class="classic-title"><span>Nos inspirations</span></h4>

           <!-- Some Text -->
        <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> Le tour du monde en 80 plongées d'exception</strong> de Patrick Mioulane et Raymond Sahuquet</p>
        <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i>  <a href="https://www.thedivespotteam.com/" target="_blank" class="itl-tooltip" data-placement="top">Divespot team</a></strong> </p>
        <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> <a href="https://www.instagram.com/explore/locations/1027783442/scubaqua-dive-center-statia/" target="_blank" class="itl-tooltip" data-placement="top">Scubaqua dive center</a></strong> instagram</p>
      <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> Contes et légendes des temps anciens de Tahiti et ses îles</strong> de Emy-Louis Dufour </p>
        <p><strong class="accent-color"><i class="fa fa-mail-forward control-icon"></i> Hawaian legend of Volcanoes</strong> de W.D Westervelt </p>
         </div>



       </div>
 </div>


   </div>
 </div>
 </section>
