
<section id="nextbubbles">
<div id="content">
  <div class="container">
    <div class="page-content">
  <!-- Start Recent Posts Carousel -->
 <div class="row">
   <h4 class="classic-title"><span>Prochaines bubulles</span></h4>
   <div class="latest-posts-classic" >

     <!-- Posts 1 -->

     <div class="col-md-7">
  <div class="post-row item">
  <div class="left-meta-post">
    <div class="post-date"><span class="day">31</span><span class="month">Sep</span></div>
    <div class="post-type"><i class="fa fa-ship"></i></div>
  </div>

  <h3 class="post-title">Fidji</h3>
  <p>Un petit tour en Océanie pour découvrir un bout des îles Tavenui, Viti Levu et Kadavu avec <a href="http://www.aggressor.com/fiji.php" target="_blank" class="itl-tooltip" data-placement="top">Aggressor</a> et <a href="http://www.taveunidiveresort.com/" target="_blank" class="itl-tooltip" data-placement="top">Tavenui dive</a></p>

  </div>
  </div>
<!-- Posts 2 -->
  <div class="col-md-7">
<div class="post-row item">
<div class="left-meta-post">
 <div class="post-date"><span class="day">10</span><span class="month">Dec</span></div>
 <div class="post-type"><i class="fa fa-ship"></i></div>
</div>

<h3 class="post-title">Nosy Be</h3>
<p>Plongée dans le canal du Mozambique autour de l'île de Nosy Be à Madagascar avec <a href="http://www.diving-cattitude-nosybe.com/" target="_blank" class="itl-tooltip" data-placement="top">Diving Cattitude</a></p>

</div>
</div>
</div>
</div>

   <div class="row">
     <h4 class="classic-title"><span>Souhaits de bubulles</span></h4>
     <div class="latest-posts-classic" >


   <div class="col-md-7">
<div class="post-row item">
<div class="left-meta-post">
  <div class="post-date"><span class="day">xx</span><span class="month">xxx</span></div>
  <div class="post-type"><i class="fa fa-ship"></i></div>
</div>

<p>Pacifique : Tonga, Marquises </p>
<p>Indien : Raja Ampat, Alor, Seychelles </p>
<p>Mer rouge </p>
<p> </p>
<p></p>

</div>


</div>


 </div>
 <!-- End Recent Posts Carousel -->
</div>
</div>



</div>
</div>
</section>
