
<section id="nextbubbles">
  <div id="content">
    <div class="container">
      <div class="page-content">

        <div class="row"><!-- Start Recent Posts Carousel -->

          <br/>
          <h4 class="classic-title"><span>Souhaits de bubulles</span></h4>
          <div class="latest-posts-classic" >
            <div class="col-md-7">
              <div class="post-row item">
                <div class="left-meta-post">
                  <div class="post-date"><span class="day">??</span><span class="month">????</span></div>
                  <div class="post-type"><i class="fa fa-ship"></i></div>
                </div>
                <p>Pacifique : Cook, Tonga, Marquises, Phillipines </p>
                <p>Indien : Raja Ampat, Alor, Seychelles </p>
                <p>Mer rouge </p>
                <p> </p>
                <p></p>
              </div>
            </div>
          </div>

        </div> <!-- End Recent Posts Carousel -->

      </div>
    </div>
  </div>
</section>
