
<section id="nextbubbles">
  <div id="content">
    <div class="container">
      <div class="page-content">
        <!-- Start Recent Posts Carousel -->
        <div class="row">
          <h4 class="classic-title"><span>Prochaines bubulles</span></h4>
          <div class="latest-posts-classic" >
            <!-- Posts 1 -->

            <!-- Posts 1 -->
            <div class="col-md-7">
              <div class="post-row item">
                <div class="left-meta-post">
                  <div class="post-date"><span class="day">18</span><span class="month">Mai</span></div>
                  <div class="post-type"><i class="fa fa-flag"></i></div>
                </div>
                <h3 class="post-title">Sao Tomé</h3>
                <p>Plonger et découvrir l'île "au millieu du monde" avec <a href="http://atlanticdivingcenter.com/fr/" target="_blank" class="itl-tooltip" data-placement="top">Atlantic Diving Center</a></p>
              </div>
            </div>

            <div class="col-md-7">
              <br/>
            </div>

            <!-- Posts 2 -->
            <div class="col-md-7">
              <div class="post-row item">
                <div class="left-meta-post">
                  <div class="post-date"><span class="day">8</span><span class="month">Sept</span></div>
                  <div class="post-type"><i class="fa fa-ship"></i></div>
                </div>
                <h3 class="post-title">Coco</h3>
                <p>Plonger avec les marteaux et redécouvrir le Costa Rica avec <a href="https://www.underseahunter.com/" target="_blank" class="itl-tooltip" data-placement="top">Under Sea Hunter</a></p>
              </div>
            </div>

          </div>
        </div>




        <div class="row">
          <br/>
          <h4 class="classic-title"><span>Souhaits de bubulles</span></h4>
          <div class="latest-posts-classic" >


            <div class="col-md-7">
              <div class="post-row item">
                <div class="left-meta-post">
                  <div class="post-date"><span class="day">xx</span><span class="month">xxx</span></div>
                  <div class="post-type"><i class="fa fa-ship"></i></div>
                </div>

                <p>Pacifique : Cook, Tonga, Marquises </p>
                <p>Indien : Raja Ampat, Alor, Seychelles </p>
                <p>Mer rouge </p>
                <p> </p>
                <p></p>

              </div>


            </div>


          </div>
          <!-- End Recent Posts Carousel -->
        </div>
      </div>



    </div>
  </div>
</section>
