<div id="parallax-one" data-stellar-background-ratio="0.5" class="parallax">
  <div class="parallax-text-container-1">
    <div class="parallax-text-item">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="counter-item">
              <i class="fa fa-paper-plane"></i>
              <div class="timer" id="item2" data-to="35" data-speed="5000"></div>
              <h5>Pays visités</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="counter-item">
              <i class="fa fa-flag"></i>
              <div class="timer" id="item1" data-to="281" data-speed="5000"></div>
              <h5>Plongées</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="counter-item">
              <i class="fa fa-ship"></i>
              <div class="timer" id="item3" data-to="5" data-speed="5000"></div>
              <h5>Live aboard - Croisières</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="counter-item">
              <i class="fa fa-smile-o"></i>
              <div class="timer" id="item4" data-to="2" data-speed="5000"></div>
              <h5>Happy divers</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
