<section id="pays">
<!-- Start Portfolio Section -->
<div class="section full-width-portfolio" style="border-top:0; border-bottom:0; background:#fff;">

  <!-- Start Big Heading -->
  <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
    <h1>Nos dernières <strong>plongées</strong></h1>
  </div>
  <!-- End Big Heading -->

  <!-- Start Recent Projects Carousel -->
  <ul id="portfolio-list" data-animated="fadeIn">
    <li>
      <img src="images/portfolio-homepage/fiji.jpg" alt="Fidji" />
      <div class="portfolio-item-content">
        <span class="header">Fidji</span>
        <p class="body animated8">Septembre 2019</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/fidji"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/fiji.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/gal.jpg" alt="Galapagos - Equateur" />
      <div class="portfolio-item-content">
        <span class="header">Galapagos (Equateur)</span>
        <p class="body animated8">Mai 2018</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/galapagos"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/gal.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/moz.jpg" alt="Ponta de Oro - Mozambique" />
      <div class="portfolio-item-content">
        <span class="header">Ponta de Oro (Mozambique)</span>
        <p class="body animated8">Février 2018</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/mozambique"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/moz.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/afsud.jpg" alt="Aliwal Shoal - Af Sud" />
      <div class="portfolio-item-content">
        <span class="header">Aliwal Shoal (Afrique du Sud)</span>
        <p class="body animated8">Février 2018</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/afsud"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/afsud.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/martinique.jpg" alt="Martinique" />
      <div class="portfolio-item-content">
        <span class="header">Martinique</span>
        <p class="body animated8">Décembre 2017</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/martinique"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/martinique.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/indonesie.jpg" alt="Komodo" />
      <div class="portfolio-item-content">
        <span class="header">Indonésie : Komodo + Nusa Penida</span>
        <p class="body animated8">Septembre 2017</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/indonesie"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/indonesie.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/tuamotus.jpg" alt="Rangiroa" />
      <div class="portfolio-item-content">
        <span class="header">Tuamotus Polynésie Française</span>
        <p class="body animated8">Mai 2017</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/tuamotus"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/tuamotus.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/les-saintes.jpg" alt="les Saintes" />
      <div class="portfolio-item-content">
        <span class="header">Les Saintes, Guadeloupe</span>
        <p class="body">Mars 2017</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/saintes"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/les-saintes.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/cozumel.jpg" alt="Cozumel" />
      <div class="portfolio-item-content">
        <span class="header">Cozumel, Méxique</span>
        <p class="body">Décembre 2016</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/mexique"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/cozumel.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/cap-vert.jpg" alt="Cap Vert" />
      <div class="portfolio-item-content">
        <span class="header">Mindelo, Cap Vert</span>
        <p class="body">Septembre 2016</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/capvert"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/cap-vert.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/hawaii.jpg" alt="Hawaii" />
      <div class="portfolio-item-content">
        <span class="header">Kona & Kawai, Hawaï</span>
        <p class="body">Mai 2016</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/hawaii"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/hawaii.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/statia.jpg" alt="Statia" />
      <div class="portfolio-item-content">
        <span class="header">Statia, Antilles Néerlandaises</span>
        <p class="body">Février 2016</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/statia"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/statia.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/maldives.jpg" alt="Maldives" />
      <div class="portfolio-item-content">
        <span class="header">Maldives</span>
        <p class="body">Décembre 2015</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/maldives"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/maldives.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/tanzanie.jpg" alt="Tanzanie" />
      <div class="portfolio-item-content">
        <span class="header">Pemba, Tanzanie</span>
        <p class="body">Septembre 2015</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/tanzanie"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/tanzanie.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/belize.jpg" alt="Belize" />
      <div class="portfolio-item-content">
        <span class="header">Belize</span>
        <p class="body">Mai 2015</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/belize"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/belize.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/lanzarote.jpg" alt="Lanzarote" />
      <div class="portfolio-item-content">
        <span class="header">Lanzarote, Les canaries</span>
        <p class="body">Septembre 2014</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/canaries"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/lanzarote.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
    <li>
      <img src="images/portfolio-homepage/japon.jpg" alt="Japon" />
      <div class="portfolio-item-content">
        <span class="header">Kerama, Iriomote, Yakushima, Okinawa Japon</span>
        <p class="body">Mai 2014</p>
      </div>
      <div class="icon-list">
        <a class="link" href="/japon"><i class="fa fa-link"></i></a>
        <a class="zoom lightbox" href="images/portfolio-homepage/japon.jpg"><i class="fa fa-search-plus"></i></a>
      </div>
    </li>
  </ul>
  <!-- End Recent Projects Carousel -->

</div>
<!-- End Portfolio Section -->
</section>
