  <!-- Start Services Section -->
  <div class="section service">
    <div class="container">
      <div class="row">

        <!-- Start Service Icon 1 -->
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
          <div class="service-icon">
            <i class="fa fa-flag-o icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Plongeur responsable</h4>
            <p>Sous l'eau, on ne touche à rien, ni ne ramassons rien. Nous ne participons pas au feeding, smelling ou toutes autres activités qui perturbent le comportement des espèces sous-marines.</p>
          </div>
        </div>
        <!-- End Service Icon 1 -->

        <!-- Start Service Icon 2 -->
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
          <div class="service-icon">
            <i class="fa fa-eye icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Culture</h4>
            <p>Nous essayons le plus possible de visiter les pays où nous plongeons, de partager et surtout écouter les gens qui y vivent.</p>
          </div>
        </div>
        <!-- End Service Icon 2 -->

        <!-- Start Service Icon 3 -->
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
          <div class="service-icon">
            <i class="fa fa-paw icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Green attitude</h4>
            <p>Nous évitons les crèmes solaires avec des produits de synthèse et non naturels qui endommagent les coraux. Nous évitons également d'utiliser les sacs, bouteilles en plastique.</p>
          </div>
        </div>
        <!-- End Service Icon 3 -->

        <!-- Start Service Icon 4 -->
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="04">
          <div class="service-icon">
            <i class="fa fa-anchor icon-large"></i>
          </div>
          <div class="service-content">
            <h4>La Mer</h4>
            <p>Nous ne consommons ni du requin, ni de la tortue ... et tous autres produits issus des espèces protégées (animaux séchés, bijoux...). Enfin nous restons humbles et emerveillés par la beauté de la nature.</p>
          </div>
        </div>
        <!-- End Service Icon 4 -->
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="06">
          <div class="service-icon">
            <i class="fa fa-certificate icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Certifications</h4>
            <p>Nous sommes Padi Advanced et Niveau 2 Anmp</p>

          </div>
        </div>
        <!-- Start Service Icon 5 -->
      <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="07">
        <div class="service-icon">
          <i class="fa fa-globe icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Notre rêve</h4>
          <p>Plonger aux 4 coins du globe, enfin, dans des températures raisonnables !</p>
        </div>
      </div>
      <!-- End Service Icon 5 -->

      <!-- Start Service Icon 6 -->
      <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="08">
        <div class="service-icon">
          <i class="fa fa-heart icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Recommandations</h4>
          <p>Nous recommandons des clubs et croisères de plongées, ceux qui partagent les mêmes valeurs.</p>
        </div>
      </div>
      <!-- End Service Icon 6 -->
      <!-- Start Service Icon 7 -->

      <!-- End Service Icon 7 -->
      <!-- Start Service Icon 8 -->
      <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="09">
        <div class="service-icon">
          <i class="fa fa-camera-retro icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Photos</h4>
          <p>Ce sont nos propres photos, et elles nous appartiennent.</p>

        </div>
      </div>
      <!-- End Service Icon 8 -->



    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- End Services Section -->
