<section id="team">
<!-- Start Team Member Section -->
<div class="section">
 <div class="container">

   <!-- Start Big Heading -->
   <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
     <h1 id="Contact">Bubbles <strong>Maker</strong></h1>
   </div>
   <!-- End Big Heading -->



   <!-- Start Team Members -->
   <div class="row">

     <div class="col-md-2 col-sm-1 col-xs-12">&nbsp;</div>
     <!-- Start Memebr 1 -->
     <div class="col-md-4 col-sm-5 col-xs-12" data-animation="fadeIn" data-animation-delay="03">
       <div class="team-member modern">
         <!-- Memebr Photo, Name & Position -->
         <div class="member-photo">
           <img alt="" src="images/team/sam.jpg" />
           <div class="member-name">Sam <span>aime</span>
           </div>
         </div>
        <div class="progress-label">La nature et les grands espaces</div>
         <div class="progress">
           <div class="progress-bar progress-bar-primary" data-progress-animation="90%" data-appear-animation-delay="400">
             <span class="percentage">90%</span>
           </div>
         </div>
         <!-- Start Progress Bar 1 -->
         <div class="progress-label">La plongée dans les mers chaudes</div>
         <div class="progress">
           <div class="progress-bar progress-bar-primary" data-progress-animation="96%" data-appear-animation-delay="400">
             <span class="percentage">96%</span>
           </div>
         </div>
         <!-- Start Progress Bar 2 -->
         <div class="progress-label">Le Yoga</div>
         <div class="progress">
           <div class="progress-bar progress-bar-primary" data-progress-animation="88%" data-appear-animation-delay="800">
             <span class="percentage">88%</span>
           </div>
         </div>
         <!-- Start Progress Bar 3 -->
         <div class="progress-label">L'histoire de l'Art et l'Opéra</div>
         <div class="progress">
           <div class="progress-bar progress-bar-primary" data-progress-animation="70%" data-appear-animation-delay="1200">
             <span class="percentage">70%</span>
           </div>
         </div>
         <!-- Memebr Social Links -->
         <div class="member-socail">
           <a class="mail" href="https://www.instagram.com/samettof/" target="_blank"><i class="fa fa-instagram"></i></a>
         </div>
       </div>
     </div>
     <!-- End Memebr 1 -->

     <!-- Start Memebr 2 -->
     <div class="col-md-4 col-sm-5 col-xs-12" data-animation="fadeIn" data-animation-delay="04">
       <div class="team-member modern">
         <!-- Memebr Photo, Name & Position -->
         <div class="member-photo">
           <img alt="" src="images/team/tof.jpg" />
           <div class="member-name">Tof <span>aime</span>
           </div>
         </div>

         <!-- Start Progress Bar 1 -->
         <div class="progress-label">Les voyages</div>
         <div class="progress">
           <div class="progress-bar progress-bar-primary" data-progress-animation="90%" data-appear-animation-delay="400">
             <span class="percentage">90%</span>
           </div>
         </div>
         <!-- Start Progress Bar 2 -->
         <div class="progress-label">La plongée dans les mers chaudes</div>
         <div class="progress">
           <div class="progress-bar progress-bar-primary" data-progress-animation="95%" data-appear-animation-delay="800">
             <span class="percentage">95%</span>
           </div>
         </div>
         <!-- Start Progress Bar 3 -->
         <div class="progress-label">La photographie sous-marine</div>
         <div class="progress">
           <div class="progress-bar progress-bar-primary" data-progress-animation="80%" data-appear-animation-delay="1200">
             <span class="percentage">80%</span>
           </div>
         </div>
             <!-- Start Progress Bar 3 -->
         <div class="progress-label">La musique</div>
         <div class="progress">
           <div class="progress-bar progress-bar-primary" data-progress-animation="70%" data-appear-animation-delay="1200">
             <span class="percentage">70%</span>
           </div>
         </div>
         <!-- Memebr Social Links -->
         <div class="member-socail">
                       <a class="mail" href="https://www.instagram.com/42christophe/" target="_blank"><i class="fa fa-instagram"></i></a>
         </div>
       </div>
     </div>
     <!-- End Memebr 2 -->
     <div class="col-md-2 col-sm-1 col-xs-12">&nbsp;</div>



   </div>
   <!-- End Team Members -->

 </div>
 <!-- .container -->
</div>
<!-- End Team Member Section -->
</section>
