<section id="carte">
  <div id="content">
    <div class=".container-fluid">
      <div id="world-map"></div>
      <script>

      /*
      * Setup
      */
      var mymap = L.map('world-map').setView([0, 0], 2);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
      }).addTo(mymap);

      // For dev purpose only
      /*
      var popup = L.popup();
      function onMapClick(e) {
      popup
      .setLatLng(e.latlng)
      .setContent("You clicked the map at " + e.latlng.toString())
      .openOn(mymap);
    }
    mymap.on('click', onMapClick);
    */
    // End of For dev purpose only

    var diveFlagIcon = L.icon({
      iconUrl: '/images/map/popup-flag.png',
      iconSize:     [20, 17], // size of the icon
      iconAnchor:   [10, 17], // point of the icon which will correspond to marker's location
      popupAnchor:  [0, -17] // point from which the popup should open relative to the iconAnchor
      /* TODO : Cast a shadow
      shadowUrl: '/images/map/todo.png',
      shadowSize:   [50, 64], // size of the shadow
      shadowAnchor: [4, 62],  // the same for the shadow
      */
    });
    var greyDiveFlagIcon = L.icon({
      iconUrl: '/images/map/popup-flag-grey.png',
      iconSize:     [20, 17], // size of the icon
      iconAnchor:   [10, 17], // point of the icon which will correspond to marker's location
      popupAnchor:  [0, -17] // point from which the popup should open relative to the iconAnchor
      /* TODO : Cast a shadow
      shadowUrl: '/images/map/todo.png',
      shadowSize:   [50, 64], // size of the shadow
      shadowAnchor: [4, 62],  // the same for the shadow
      */
    });

    /*
    * Dives with page
    */

    var martiniqueMarker = L.marker([14.54025, -61.03604], {icon: diveFlagIcon}).addTo(mymap);
    martiniqueMarker.bindPopup("<b><a href=\"/martinique\">Martinique</a></b><br>Avril 2005.");

    var japon01Marker = L.marker([26.19364, 127.32159], {icon: diveFlagIcon}).addTo(mymap);
    japon01Marker.bindPopup("<b><a href=\"/japon\">Japon</a></b> - Kerama<br>Mai 2014.");
    var japon02Marker = L.marker([30.24353, 130.58641], {icon: diveFlagIcon}).addTo(mymap);
    japon02Marker.bindPopup("<b><a href=\"/japon\">Japon</a></b> - Yakushima<br>Mai 2014.");
    var japon03Marker = L.marker([24.4368, 123.77744], {icon: diveFlagIcon}).addTo(mymap);
    japon03Marker.bindPopup("<b><a href=\"/japon\">Japon</a></b> - Iriomote<br>Mai 2014.");

    var canariesMarker = L.marker([28.92047, -13.66094], {icon: diveFlagIcon}).addTo(mymap);
    canariesMarker.bindPopup("<b><a href=\"/canaries\">Canaries</a></b><br>Septembre 2014.");

    var belize01Marker = L.marker([17.42665, -87.84393], {icon: diveFlagIcon}).addTo(mymap);
    belize01Marker.bindPopup("<b><a href=\"/belize\">Belize</a></b> - Turneffe Atoll<br>Mai 2015.");
    var belize02Marker = L.marker([17.39389, -87.51503], {icon: diveFlagIcon}).addTo(mymap);
    belize02Marker.bindPopup("<b><a href=\"/belize\">Belize</a></b> - Lighthouse Reef<br>Mai 2015.");
    var belize03Marker = L.marker([16.8098, -87.83157], {icon: diveFlagIcon}).addTo(mymap);
    belize03Marker.bindPopup("<b><a href=\"/belize\">Belize</a></b> - Glover Reef<br>Mai 2015.");

    var tanzanieMarker = L.marker([-5.29197, 39.65826], {icon: diveFlagIcon}).addTo(mymap);
    tanzanieMarker.bindPopup("<b><a href=\"/tanzanie\">Tanzanie</a></b> - Pemba<br>Septembre 2015.");

    var maldivesMarker = L.marker([4.37859, 73.50815], {icon: diveFlagIcon}).addTo(mymap);
    maldivesMarker.bindPopup("<b><a href=\"/maldives\">Maldives</a></b><br>Décembre 2015.");

    var statiaMarker = L.marker([17.48031, -62.98658], {icon: diveFlagIcon}).addTo(mymap);
    statiaMarker.bindPopup("<b><a href=\"/statia\">Statia</a></b><br>Février 2016.");

    var hawaii01Marker = L.marker([19.63935, -155.99753], {icon: diveFlagIcon}).addTo(mymap);
    hawaii01Marker.bindPopup("<b><a href=\"/hawaii\">Hawaii</a></b> - Kona<br>Mai 2016.");
    var hawaii02Marker = L.marker([21.88177, -159.47743], {icon: diveFlagIcon}).addTo(mymap);
    hawaii02Marker.bindPopup("<b><a href=\"/hawaii\">Hawaii</a></b> - Kauai<br>Mai 2016.");
    var hawaii03Marker = L.marker([21.92664, -160.08316], {icon: diveFlagIcon}).addTo(mymap);
    hawaii03Marker.bindPopup("<b><a href=\"/hawaii\">Hawaii</a></b> - Niihau<br>Mai 2016.");

    var capVert01Marker = L.marker([16.88671, -24.98924], {icon: diveFlagIcon}).addTo(mymap);
    capVert01Marker.bindPopup("<b><a href=\"/capvert\">Cap Vert</a></b><br>Septembre 2016.");

    var mexique01Marker = L.marker([20.47553, -86.97563], {icon: diveFlagIcon}).addTo(mymap);
    mexique01Marker.bindPopup("<b><a href=\"/mexique\">Mexique</a></b> - Cozumel<br>Décembre 2016.");
    var mexique02Marker = L.marker([20.33545, -87.40551], {icon: diveFlagIcon}).addTo(mymap);
    mexique02Marker.bindPopup("<b><a href=\"/mexique\">Mexique</a></b> - Cenotes<br>Décembre 2016.");

    var lesSaintesMarker = L.marker([15.86451, -61.58908], {icon: diveFlagIcon}).addTo(mymap);
    lesSaintesMarker.bindPopup("<b><a href=\"/saintes\">Les Saintes</a></b><br>Mars 2017.");

    var societeMarker = L.marker([-16.71378, -151.0359], {icon: diveFlagIcon}).addTo(mymap);
    societeMarker.bindPopup("<b><a href=\"/societe\">Polynésie française - La Société</a></b> - Huahine<br>Mai 2017.");

    var tuamotus01Marker = L.marker([-14.97182, -147.63419], {icon: diveFlagIcon}).addTo(mymap);
    tuamotus01Marker.bindPopup("<b><a href=\"/tuamotus\">Polynésie française - Les Tuamotus</a></b> - Rangiroa<br>Mai 2017.");
    var tuamotus02Marker = L.marker([-16.3208, -145.60249], {icon: diveFlagIcon}).addTo(mymap);
    tuamotus02Marker.bindPopup("<b><a href=\"/tuamotus\">Polynésie française - Les Tuamotus</a></b> - Fakarava<br>Mai 2017.");
    var tuamotus03Marker = L.marker([-14.40293, -145.94273], {icon: diveFlagIcon}).addTo(mymap);
    tuamotus03Marker.bindPopup("<b><a href=\"/tuamotus\">Polynésie française - Les Tuamotus</a></b> - Manihi<br>Mai 2017.");
    var tuamotus04Marker = L.marker([-15.00183, -148.18291], {icon: diveFlagIcon}).addTo(mymap);
    tuamotus04Marker.bindPopup("<b><a href=\"/tuamotus\">Polynésie française - Les Tuamotus</a></b> - Tikehau<br>Mai 2017.");

    /*
    * Other dives
    */

    var niceMarker = L.marker([43.69633, 7.31552], {icon: greyDiveFlagIcon}).addTo(mymap);
    niceMarker.bindPopup("<b>Nice</b><br>Juin 2005.");

    var estartitMarker = L.marker([42.05143, 3.2003], {icon: greyDiveFlagIcon}).addTo(mymap);
    estartitMarker.bindPopup("<b>Estartit</b><br>Septembre 2005.");

    var ileMauriceMarker = L.marker([-20.43522, 57.32068], {icon: greyDiveFlagIcon}).addTo(mymap);
    ileMauriceMarker.bindPopup("<b>Ile Maurice</b><br>Septembre 2013.");

    var phuQuocMarker = L.marker([10.21775, 103.95663], {icon: greyDiveFlagIcon}).addTo(mymap);
    phuQuocMarker.bindPopup("<b>Phu Quoc</b><br>Décembre 2013.");

    </script>
  </div>
</div>
</section>
