<div class="col-md-6 pl-4 pr-4" id="countryPractical">

  <h2><span>{%- if page.lang == "fr" -%}Pratique{%- elsif page.lang == "en" -%}Practical{%- endif -%}</span></h2>

  <div class="accordion" id="practicalAccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fa fa-ship"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{%- if page.lang == "fr" -%}Club{%- elsif page.lang == "en" -%}Dive shop{%- endif -%}
            <i class="fa fa-angle-up control-icon"></i>
          </button>
        </h3>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#practicalAccordion">
        <div class="card-body">
          {{ page.dive-shop }}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-bed"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{%- if page.lang == "fr" -%}Hébergement{%- elsif page.lang == "en" -%}Accommodation{%- endif -%}
            <i class="fa fa-angle-up control-icon"></i>
          </button>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#practicalAccordion">
        <div class="card-body">
          {{ page.accommodation }}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fa fa-binoculars"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{%- if page.lang == "fr" -%}A voir{%- elsif page.lang == "en" -%}To see{%- endif -%}
            <i class="fa fa-angle-up control-icon"></i>
          </button>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#practicalAccordion">
        <div class="card-body">
          {{ page.to-see }}
        </div>
      </div>
    </div>
  </div>

</div>
