<div class="col-md-6 pl-4 pr-4">
  {% assign gallery-path = "photos/" | append: page.ref %}
  {% assign gallery-as-string = "" %}
  {% for image in site.static_files %}
  {% if image.path contains gallery-path %}
  {% unless image.path contains '-th.' %}
  {% assign gallery-as-string = gallery-as-string | append: image.path | append: ";" %}
  {% endunless %}
  {% endif %}
  {% endfor %}
  {% assign gallery = gallery-as-string | split: ";" %}

  <!-- Modal -->
  <div class="modal fade" id="photosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="modalCarousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner">
              {% for image in gallery %}
              <div class="carousel-item{% if forloop.index0 == 0 %} active{% endif %}">
                <img src="{{ image }}" alt="..." />
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#modalCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#modalCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="modal-header">
          <a role="button" href="#photosModal" data-dismiss="modal" aria-label="Close"><i class="fas fa-times fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div id="photosCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for image in gallery %}
      <li data-target="#photosCarousel" data-slide-to="{{ forloop.index0 }}"{% if forloop.index0 == 0 %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <a href="#photosCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left fa-2x control-left"></i></a>
    <a href="#photosCarousel" role="button" data-slide="next"><i class="fa fa-angle-right fa-2x control-right"></i></a>
    <div class="carousel-inner">
      {% for image in gallery %}
      <div class="carousel-item{% if forloop.index0 == 0 %} active{% endif %}">
        <a href="#photosModal" role="button"  data-toggle="modal" data-target="#photosModal" onclick="$('#modalCarousel').carousel({{ forloop.index0 }});">
          <img src="{{ image | replace: ".jpg", "-th.jpg" }}" alt="..." />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
