<footer class="navbar navbar-light bg-light fixed-bottom">

  <div class="navbar-brand float-left" id="social-media">
    <a href="https://www.instagram.com/samettof/" target="_blank"><i class="fab fa-instagram ml-3"></i></a>
    <a href="https://www.instagram.com/christophe.uw/" target="_blank"><i class="fab fa-instagram ml-3"></i></a>
    <a href="https://www.instagram.com/ticrab_travels/" target="_blank"><i class="fab fa-instagram ml-3"></i></a>
  </div>

  <div class="mt-2 mt-md-0" id="license">
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.{{ page.lang }}" target="_blank">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
    </a>
  </div>

</footer>
