<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Sam & Tof">

  <title>{{ page.title }}</title>

  <link rel="shortcut icon" href="/img/favicon.ico">

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
  {% endfor %}

  <!-- CSS -->
  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/samettof.css" rel="stylesheet">

  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu" />
  <script src="https://kit.fontawesome.com/7dfeb2d2f7.js" crossorigin="anonymous"></script>

</head>
