<div id="homeTeam" class="container">
  <h1>Bubbles Makers</h1>
  <div class="row">
    {% for item in site.data.home-team %}
    <div class="col-md-4">
      <div class="team-member">
        <div class="member-photo">
          <img alt="" src="/photos/home-team/{{ item.img }}" />
          <div class="row">
          <div class="col-md-6 member-social"><a href="https://www.instagram.com/{{ item.insta }}/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></div>
          <div class="col-md-6 member-name">{{ item.name }}</div>
        </div>
      </div>
        {% for like in item.likes %}
        <p>{% if page.lang == "fr" %}{{ like.fr-label }}{% elsif page.lang == "en" %}{{ like.en-label }}{% endif %}</p>
        <div class="progress"><div class="progress-bar" role="progressbar" style="width: {{ like.grade }}%;" aria-valuenow="{{ like.grade }}" aria-valuemin="0" aria-valuemax="100"></div></div>
        {% endfor %}
      </div>
    </div><!-- /.col -->
    {% endfor %}
  </div><!-- /.row -->
</div>
