<div id="homePortfolio" class="container-fluid">
  <h1>{%- if page.lang == "fr" -%}Nos dernières plongées{%- elsif page.lang == "en" -%}Our last dives{%- endif -%}</h1>
  <div class="row">
    {% for item in site.data.portfolio -%}
    {%- assign targets = site.pages | where : "ref", item.page-ref | where : "lang", page.lang -%}
    <div class="col-md-4 p-0 m-0 text-center">
      <span>
        <img src="/photos/home-portfolio/{{ item.img }}" alt="{{ targets[0].menu }}" />
        <div class="portfolio-item-content">
          <a href="{{ targets[0].url }}"><h3>{{ targets[0].menu }}</h3></a>
          <p>{{ targets[0].visited-in }}</p>
        </div>
      </span>
    </div><!-- /.col -->
    {% endfor -%}
  </div><!-- /.row -->
</div>
