<div id="homeCounters" class="container-fluid">
  <div class="row pl-5 pr-5">
    <div class="col-md-3 text-center">
      <div class="counter-item">
        <i class="fa fa-paper-plane fa-3x text-center"></i>
        <div class="timer" id="item1" data-to="56" data-speed="5000"></div>
        <p>{%- if page.lang == "fr" -%}Pays visités{%- elsif page.lang == "en" -%}Visited countries{%- endif -%}</p>
      </div>
    </div><!-- /.col -->
    <div class="col-md-3 text-center">
      <div class="counter-item">
        <i class="fa fa-flag fa-3x"></i>
        <div class="timer" id="item2" data-to="795" data-speed="5000"></div>
        <p>{%- if page.lang == "fr" -%}Plongées{%- elsif page.lang == "en" -%}Dives{%- endif -%}</p>
      </div>
    </div><!-- /.col -->
    <div class="col-md-3 text-center">
      <div class="counter-item">
        <i class="fa fa-ship fa-3x"></i>
        <div class="timer" id="item3" data-to="16" data-speed="5000"></div>
        <p>{%- if page.lang == "fr" -%}Croisières{%- elsif page.lang == "en" -%}Liveaboards{%- endif -%}</p>
      </div>
    </div><!-- /.col -->
    <div class="col-md-3 text-center">
      <div class="counter-item">
        <i class="fa fa-smile-o fa-3x"></i>
        <div class="timer" id="item4" data-to="2" data-speed="5000"></div>
        <p>{%- if page.lang == "fr" -%}Plongeurs heureux{%- elsif page.lang == "en" -%}Happy divers{%- endif -%}</p>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>
