
 <!-- Start  Logo & Naviagtion  -->
      <div class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
        <div class="container">
          <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
            
          </div>
          <div class="navbar-collapse collapse">
          
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
           <li>
                <a class="active" href="index.html">Home</a>
              </li>
             <li>
                <a href="#Plonger">Atlantique</a>
                 <ul class="dropdown">
                 <li><a href="canaries.html">Canaries</a></li>
                 <li><a href="capvert">Cap Vert</a></li>
                 </ul>
              </li>
            
                <li>
                <a href="#Plonger">Caraïbes</a>
                 <ul class="dropdown">
                 <li><a href="wip.html">Belize</a></li>
                 <li><a href="wip.html">Martinique</a></li>
                 <li><a href="wip.html">Mexique</a></li>
                 <li><a href="wip.html">Les Saintes</a></li>
                <li><a href="wip.html">Statia</a></li>
                 </ul>
              </li>
                <li>
                <a  href="#Plonger">Indien</a>
                <ul class="dropdown">
                 <li><a href="wip.html">Maldives</a></li>
                 <li><a href="wip.html">Maurice</a></li>
                 <li><a href="wip.html">Tanzanie</a></li>
                 </ul>
              </li>
               <li>
                <a  href="#Plonger">Pacifique</a>
                <ul class="dropdown">      
                 <li><a href="wip.html">Hawaï</a></li>
                  <li><a href="wip.html">Japon</a></li>
                 <li><a href="wip.html">Polynésie : La Société</a></li>
                 <li><a href="tuamotus.html">Polynésie : Les Tuamotus</a></li>
              </ul>

            </li>
            <li>
                <a href="#Contact">About</a>
          </li>
            </ul>
            <!-- End Navigation List -->
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
         <ul class="wpb-mobile-menu">
          <li>
            <a class="active" href="index.html">Home</a>
          </li>
   <li>
                <a href="index.html">Atlantique</a>
                 <ul class="dropdown">
				<li><a href="canaries.html">Canaries</a></li>
                 <li><a href="capvert">Cap Vert</a></li>
                 </ul>
              </li>
            
                <li>
                <a href="index.html">Caraïbes</a>
                 <ul class="dropdown">
                 <li><a href="wip.html">Belize</a></li>
                 <li><a href="wip.html">Martinique</a></li>
                 <li><a href="wip.html">Mexique</a></li>
                 <li><a href="wip.html">Les Saintes</a></li>
                <li><a href="wip.html">Statia</a></li>
                 </ul>
              </li>
                <li>
                <a  href="index.html">Indien</a>
                <ul class="dropdown">
                 <li><a href="wip.html">Maldives</a></li>
                 <li><a href="wip.html">Maurice</a></li>
                 <li><a href="wip.html">Tanzanie</a></li>
                 </ul>
              </li>
               <li>
                <a  href="index.html">Pacifique</a>
                <ul class="dropdown">      
                 <li><a href="wip.html">Hawaï</a></li>
                  <li><a href="wip.html">Japon</a></li>
                 <li><a href="wip.html">Polynésie : La Société</a></li>
                 <li><a href="tuamotus.html">Polynésie : Les Tuamotus</a></li>
              </ul>

            </li>
              <li><a href="#Contact">About</a></li>
            </ul>
        </ul>
        <!-- Mobile Menu End -->

      </div>
      <!-- End Header Logo & Naviagtion -->

    </header>
    <!-- End Header Section -->