
/*----------------------------------------------------------------------------*/
/* Blue : #033298                                                             */
/* Grey : #666                                                                */
/* Dark grey : #444                                                           */
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* General                                                                    */
/*----------------------------------------------------------------------------*/

html, body{
  height: 100%;
  font-family: Ubuntu, sans-serif;
  color: #666;
}

body {
  background-color: #FFF;
}

main {
  font-size: 14px;
  line-height: 20px;
  margin-top: 70px;
  padding-bottom: 100px;
}

.accent-color {
  color: #033298;
}

a {
  color: #033298;
}

a:hover {
  color: #033298;
}

/*----------------------------------------------------------------------------*/
/* Home page                                                                  */
/*----------------------------------------------------------------------------*/

.profile-picture {
  box-shadow: 1px 1px 2px black;
}

/* Carousel ------------------------------------------------------------------*/

.carousel-caption {
  padding-bottom: 15%;
}

.carousel-caption h1 {
  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px #36353A;
}

.carousel-caption h2 {
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 0px 0px 20px #36353A;
}

#homeCarousel .carousel-indicators .active {
  background-color: #033298;
}

/* Manifest ------------------------------------------------------------------*/

#homeManifest {
  padding-top: 20px;
}

#homeManifest h3 {
  font-size: 20px;
  font-weight: bolder;
  color: #444;
  margin-top: 20px;
  margin-bottom: 10px;
}

#homeManifest p {
  text-align: justify;
}

/* Portfolio -----------------------------------------------------------------*/

#homePortfolio {
  padding-top: 40px;
}

#homePortfolio h3 {
  font-size: 20px;
  font-weight: bolder;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 0px 0px 20px #36353A;
}

#homePortfolio a {
  color: #FFF;
}

#homePortfolio p {
  color: #FFF;
  text-shadow: 0px 0px 20px #36353A;
}

#homePortfolio span {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#homePortfolio span img {
  width:100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  -o-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

#homePortfolio span:hover img {
  -webkit-transform: scale(1.3) rotate(3deg);
  -moz-transform: scale(1.3) rotate(3deg);
  -ms-transform: scale(1.3) rotate(3deg);
  -o-transform: scale(1.3) rotate(3deg);
  transform: scale(1.3) rotate(3deg);
}

#homePortfolio span:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#homePortfolio span:hover:after {
  opacity: 1;
}

#homePortfolio span .portfolio-item-content {
  position: absolute;
  color: #050F1E;
  bottom: 25px;
  width: 100%;
  opacity: 0;
  z-index: 999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#homePortfolio span:hover .portfolio-item-content {
  opacity:1;
}

/* Team ----------------------------------------------------------------------*/

#homeTeam {
  padding-top: 20px;
}

#homeTeam img {
  width: 100%;
}

#homeTeam h1 {
  font-size: 32px;
  font-weight: bolder;
  color: #444;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#homeTeam .member-name {
  width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: bolder;
  color: #FFF;
  text-shadow: 0px 0px 20px #36353A;
  padding-right: 25px;
  padding-bottom: 10px;
  margin-top: -30px;
}

#homeTeam .member-social {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
  color: #FFF;
  text-shadow: 0px 0px 20px #36353A;
  padding-left: 25px;
  margin-top: -50px;
}

#homeTeam .member-social a {
  color: #FFF;
}

#homeTeam p {
  margin-top: 20px;
  margin-bottom: 5px;
}

#homeTeam .progress {
  height: .5rem;
}

#homeTeam .progress-bar {
  background-color: #033298;
}

/* Counters ------------------------------------------------------------------*/

#homeCounters {
  padding-top: 100px;
}

#homeCounters i {
  color: #033298;
}

#homeCounters .timer {
  font-size: 64px;
  font-weight: bolder;
  color: #033298;
  margin-top: 40px;
  margin-bottom: 40px;
}

#homeCounters p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
}

/*----------------------------------------------------------------------------*/
/* Pages                                                                      */
/*----------------------------------------------------------------------------*/

.page-content {
  padding: 20px 0;
}

.page-content h2 {
  padding-top: 20px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid #eee;
  font-weight: bolder;
  color: #444;
  font-size: 20px;
}

.page-content h2 span {
  padding-bottom: 8px;
  border-bottom: 2px solid;
  border-bottom-color: #033298;
}

/* Banners -------------------------------------------------------------------*/

.page-banner {
  padding: 10px 0;
}

.page-banner h1 {
  font-size: 20px;
  color: #FFF;
  text-shadow: 0px 0px 20px #36353A;
  font-weight: bolder;
  text-transform: uppercase;
}

.banner-atlantic {
  background: url(/assets/img/banner/atlantic.jpg) center #f9f9f9;
}

.banner-caribbean {
  background: url(/assets/img/banner/caribbean.jpg) center #f9f9f9;
}

.banner-indian {
  background: url(/assets/img/banner/indian.jpg) center #f9f9f9;
}

.banner-pacific {
  background: url(/assets/img/banner/pacific.jpg) center #f9f9f9;
}

/* Countries -----------------------------------------------------------------*/

#country-about p {
  text-align: justify;
  line-height: 24px;
}

#photosCarousel .carousel-item {
  height: 400px;
}

#photosCarousel .carousel-item img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#photosCarousel .carousel-indicators .active {
  background-color: #033298;
}

#photosModal {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#photosModal .modal-dialog {
  height: 100%;
  width: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}

#photosModal .modal-content {
  height: 100%;
  background-color: rgba(68, 68, 68, 0.75);
  border: none;
  border-radius: 0rem;
}

#photosModal .modal-body {
  padding: 0px;
}

#photosModal .modal-header {
  position: absolute;
  right: 0px;
  padding: 10px 10px 0px 0px;
  border-bottom: none;
}

#photosModal .modal-header a {
  color: #FFF;
}

#modalCarousel {
  height: 100%;
}

#modalCarousel .carousel-control-prev, #modalCarousel .carousel-control-next {
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

#modalCarousel .carousel-inner {
  height: 100%;
}

#modalCarousel .carousel-item {
  height: 100%;
}

#modalCarousel .carousel-item img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#countryOpinion .progress {
  height: 1.5rem;
}

#countryOpinion .progress-bar {
  background-color: #033298;
  font-weight: bolder;
  text-align: right;
  padding-right: 10px;
}

#countryOpinion p {
  margin-top: 20px;
  margin-bottom: 5px;
}

#countryPractical .card {
}

#countryPractical .card-header {
  padding: 0px;
}

#countryPractical .card-header h2 {
  padding: 0px;
}

#countryPractical .card-header h2 button {
  color: #033298;
  text-decoration: none;
}

#countryPractical .card-body {
  text-align: justify;
}

#countryLogbook #control {
  width: 100%;
  text-align: right;
  font-size: 18px;
  margin-top: -45px;
  margin-bottom: 30px;
}

#countryLogbook #control a {
  color: #666;
}

#countryLogbook #control a:hover {
  color: #033298;
}

#countryLogbook #quote-mark {
  width: 100%;
  text-align: left;
  font-size: 64px;
  margin-bottom: -40px;
  margin-top: 20px;
  color: #033298;
}

#countryLogbook .log-book {
  width:100%;
  min-width:100%;
  overflow:hidden;
  display:block;
  text-align: justify;
  padding-left: 40px;
  font-style: italic;
}

#countryGoodToKnow h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: bolder;
  color: #444;
}

#countryGoodToKnow .service-icon {
  color: #033298;
  margin-top: 10px;
}

#countryGoodToKnow .service-content {
  padding-left: 45px;
  margin-top: -25px;
}
