<!doctype html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  {% include header.html %}
  <main role="main">
    <div id="worldMapContainer" class="container-fluid">
      <div id="worldMap"></div>
    </div>
  </main>

</body>

<script>

  /*
  * Setup
  */
  var mymap = L.map('worldMap').setView([0, -123.3925], 2);
  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    attribution: '&copy; <a href="https://www.esri.com/">Esri</a>, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
    maxZoom: 13,
    tileSize: 256,
  }).addTo(mymap);

  var diveFlagIcon = L.icon({
    iconUrl: '/assets/img/map/popup-flag.png',
    iconSize:     [16, 27], // size of the icon
    iconAnchor:   [8, 27], // point of the icon which will correspond to marker's location
    shadowUrl: '/assets/img/map/shadow.png',
    shadowSize:   [19, 12],
    shadowAnchor: [0, 12],
    popupAnchor:  [0, -27] // point from which the popup should open relative to the iconAnchor
  });
  var eyeIcon = L.icon({
    iconUrl: '/assets/img/map/popup-eye.png',
    iconSize:     [16, 27], // size of the icon
    iconAnchor:   [8, 27], // point of the icon which will correspond to marker's location
    shadowUrl: '/assets/img/map/shadow.png',
    shadowSize:   [19, 12],
    shadowAnchor: [0, 12],
    popupAnchor:  [0, -27] // point from which the popup should open relative to the iconAnchor
  });
  var homeIcon = L.icon({
    iconUrl: '/assets/img/map/home.png',
    iconSize:     [16, 27], // size of the icon
    iconAnchor:   [8, 27], // point of the icon which will correspond to marker's location
    shadowUrl: '/assets/img/map/shadow.png',
    shadowSize:   [19, 12],
    shadowAnchor: [0, 12],
    popupAnchor:  [0, -27] // point from which the popup should open relative to the iconAnchor
  });
  var popup = L.marker([-48.8752778, -123.3925], {icon: diveFlagIcon}).addTo(mymap).bindPopup('<strong>404&nbsp;-&nbsp;<a href="https://en.wikipedia.org/wiki/Pole_of_inaccessibility#Oceanic_pole_of_inaccessibility" target="_blank">Nemo&nbsp;Point</a></strong>');
  // popup.openPopup();

  less.pageLoadFinished.then(function() { mymap.invalidateSize(); });

</script>

{% include scripts.html %}

</html>
