<!doctype html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  {% include header.html %}
  <main role="main">
    {% include page-banner.html %}
    <div class="page-content">
      <div class="container-fluid pl-5 pr-5">
        <div class="row pb-4" id="inspiration">
          <div class="col-md-6">
            Pick a date :

               {% for item in site.data.calendrier -%}

               <div class="col-md-4 p-0 m-0 text-center">
                 <span>
                   <img src="/photos/calendar/{{ item.img }}" alt="{{ item.page-ref }}" />
                    {{item.page-ref}}
                 </span>
               </div><!-- /.col -->
               {% endfor -%}



          </div>
          description
          <ul>


            {% for d in site.data.dates %}
              {{ d.fr-name }}
               {% for c in site.data.countries %}

                {% assign datefrom=site.data.dates | where:"fr-name", c[1].best-seasons[0].fr-best-season-from %}
                {% assign dateto=site.data.dates | where:"fr-name", c[1].best-seasons[0].fr-best-season-to %}

                {%- assign targets = site.pages | where : "ref", c[0] | where : "lang", page.lang -%}




                {% if datefrom[0].num > dateto[0].num %}

                  {% if d.num >= 1 and d.num <= dateto[0].num %}
                    <p><a href="{{ targets[0].url }}">{{ c[0] | capitalize}}</a> from  {{ datefrom[0].num}} to  {{ dateto[0].num }}</p>

                  {% endif %}

                  {% if d.num >= datefrom[0].num and d.num <= 12 %}
                    <p><a href="{{ targets[0].url }}">{{ c[0] | capitalize}}</a> from  {{ datefrom[0].num}} to  {{ dateto[0].num }}</p>
                  {% endif %}

               {% endif %}

               {% if datefrom[0].num < dateto[0].num %}
                 {% if d.num >= datefrom[0].num and d.num <= dateto[0].num %}
                   <p><a href="{{ targets[0].url }}">{{ c[0] | capitalize}}</a> from  {{ datefrom[0].num}} to  {{ dateto[0].num }}</p>
                 {% endif %}
              {% endif %}

               {% endfor %}
          {% endfor %}

          </ul>
        </div><!-- /.row -->
      </div>
    </div>
  </main>

</body>

{% include scripts.html %}

</html>
