<!doctype html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>

  {% include header.html %}
  <main role="main">
    {% include page-banner.html %}
    <div class="page-content">



      {%- if page.lang == "fr" -%}
        {%- assign monthField = "fr-name" -%}
        {%- assign seasonFromField = "fr-best-season-from" -%}
        {%- assign seasonToField = "fr-best-season-to" -%}
      {%- else -%}
        {%- assign monthField = "en-name" -%}
        {%- assign seasonFromField = "en-best-season-from" -%}
        {%- assign seasonToField = "en-best-season-to" -%}
      {%- endif -%}

      <div id="calendarPortfolio" class="container-fluid p-5">
        <div class="row">
          {% for cal in site.data.calendar -%}
          <div class="modal fade" id="{{ cal[monthField] }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ cal[monthField] }}Modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  {%- if page.lang == "fr" -%}
                  <h5 class="modal-title">Où partir en {{ cal[monthField] }} ?</h5>
                  {%- else -%}
                  <h5 class="modal-title">Where to go in {{ cal[monthField] }}?</h5>
                  {%- endif -%}
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  {%- capture destinations -%}
                    {%- for countrie in site.data.countries -%}

                      {%- assign datefrom=site.data.calendar | where: monthField, countrie[1].best-seasons[0][seasonFromField] -%}
                      {%- assign dateto=site.data.calendar | where: monthField, countrie[1].best-seasons[0][seasonToField] -%}
                      {%- assign targets = site.pages | where : "ref", countrie[0] | where : "lang", page.lang -%}

                      {%- if datefrom[0].num > dateto[0].num -%}
                        {%- if cal.num >= 1 and cal.num <= dateto[0].num -%}
                          |{{ targets[0].h1 | slice: 3,128 }}#{{ targets[0].url }}#{{ targets[0].h1 }}
                        {%- endif -%}
                        {%- if cal.num >= datefrom[0].num and cal.num <= 12 -%}
                          |{{ targets[0].h1 | slice: 3,128 }}#{{ targets[0].url }}#{{ targets[0].h1 }}
                        {%- endif -%}
                      {%- endif -%}
                      {%- if datefrom[0].num < dateto[0].num -%}
                        {%- if cal.num >= datefrom[0].num and cal.num <= dateto[0].num -%}
                          |{{ targets[0].h1 | slice: 3,128 }}#{{ targets[0].url }}#{{ targets[0].h1 }}
                        {%- endif -%}
                      {%- endif -%}

                    {%- endfor -%}
                  {%- endcapture -%}

                  {%- assign sorteddestinations = destinations | remove_first: "|" | split: '|' | sort -%}
                  {%- for destination in sorteddestinations -%}
                    {% assign dest = destination | split: '#' %}
                    <p><a href="{{ dest[1] }}">{{ dest[2] }}</a>
                  {%- endfor -%}

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-3 m-0 text-center portfolio-span">
            <span>
              <img src="/photos/calendar/{{ cal.img | replace: '.jpg', '.webp' }}" alt="{{ cal[monthField] }}" loading="lazy" />
              <div class="portfolio-item-content">
                <a href="#{{ cal[monthField] }}Modal" role="button" data-toggle="modal" data-target="#{{ cal[monthField] }}Modal">
                  <h3>{{ cal[monthField] }}</h3>
                </a>
                <!--
              -->
              </div>
            </span>
          </div><!-- /.col -->
          {% endfor -%}
        </div><!-- /.row -->
      </div>

    </div>
  </main>

</body>

{% include scripts.html %}

</html>
