<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

    {% include_relative /template/head.html %}

    <body>
      <!-- Full Body Container -->
      <div id="container">
          {% include_relative /template/header.html %}
          {{ content }}
          {% include_relative /template/footer.html %}
      </div>
      <!-- End Full Body Container -->

      <!-- Go To Top Link -->
      <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

      <div id="loader">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>

      <script type="text/javascript" src="js/script.js"></script>

    </body>

  </html>
