<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

    {% include_relative /template/head.html %}

    <body>
      <!-- Full Body Container -->
      <div id="container">
          {% include_relative /template/header.html %}
          {{ content }}
          {% include_relative /template/footer.html %}
      </div>
      <!-- End Full Body Container -->

      <div id="loader">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>

      <script type="text/javascript" src="js/script.js"></script>

      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-102584790-1', 'auto');
        ga('send', 'pageview');
      </script>

    </body>

  </html>
